/*BOARD*/
.board{
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 60px;
  height:100%;

}

/* screen portrait */
@media only screen 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  .board{
    margin: auto;
  }

}

/* 
@media (max-width: 760px) {

  .board{
    height: 100%;
    margin: 0 10px 30px;
  }
} */
