.cell{
  border: 1px solid #707070;
  width: 4vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.cell.cellHeight{
  width: 7vh;
  height: 7vh;
}

.cellImg{
  width: 80%;
}

.cellSign{
  text-overflow: ellipsis;
  width: 4vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 70%;
  line-height: 1;
}

/* screen portrait */
@media only screen 
and (orientation: portrait) {

  .cell{
    width: calc(10vw - 2px); /* 2px for margin 10px left/ right divided by 10cols*/
    height: calc(10vw - 2px);
  }

}

@media (max-width: 390px) {
    .cellSign{
      font-size: 50%;
    }
}
