/*HEADER*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 50px;
  border-bottom: 1px solid #E1E1E1;
}

.link{
  font-weight: 900;
}

.title{
  font-size: 2.4em;
}

.logo{
  width: 100px;
}


@media (max-width: 630px) {
  .header{
    flex-direction: column;
    padding-bottom: 20px;
  }

  .title{
    font-size: 2em;
  }
}