/*Tables*/
table{
  border-collapse: collapse;
  /*border-spacing: 0px;*/
  margin: 0 auto 40px;
  width: 100%;
}

caption{
  font-weight: bold;
  margin-bottom: 10px;

}

tr, thead{
  border-bottom: 1px solid #adadad;
}

th{
  padding: 10px;
  text-align: left;
  font-size: 0.8em;
  font-weight: 600;
  background-color: #ECF0F1;
  color: #3d3d3d;
}
.thRadiusLeft{
    border-radius: 4px 0 0 0;
}

.thRadiusRight{
  border-radius: 0 4px 0 0;
}

td{
  padding: 10px;
  text-align: left;
}

@media (max-width: 760px) {

  table{
    margin-bottom: 30px;
  }
}
